body{
    margin: 0;
}

.menu-container{
    background-color: #1AA4FF;
    margin: 25px 0 0;
    border: 1px transparent;
    box-shadow: 0 0 5px #aaa;
    position: relative;
}

.menu, .sub-menu{
    width: 900px;
    margin: auto;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 7px 0;
    margin: 0;
}

li:hover{
    box-shadow: none;
}

a{
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFDFE;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: 7px 13px;
}

a:hover{
    background-color: #eeeeee;
    color: #a0a0a0;
}

.sub-menu {
    width: 100%;
    display: none;
    background-color: #EEEEEE;
    margin: 0 auto;
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
}

.menu-container li:hover > .sub-menu {
    display: inline-block;
}

.sub-menu ul {
    width: 900px;
    margin: 0 auto;
    padding: 0;
}

.sub-menu li a{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #a0a0a0;
    text-transform: none;
    padding: 8px;
}